html,
body,
ul,
li {
  margin: 0;
  padding: 0; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Fredoka One', cursive; }

.information {
  width: 90%;
  position: fixed;
  margin: 10px; }
  .information .information-container {
    margin-bottom: 50px; }
    .information .information-container .title {
      margin-top: 0; }
  .information .info-lists .info-list {
    margin-bottom: 10px; }
    .information .info-lists .info-list .list-item {
      display: inline; }

.section {
  width: 100%;
  height: 1000px; }
  .section.section--1 {
    background-color: #d9e0f2; }
  .section.section--2 {
    background-color: #b3c2e6; }
  .section.section--3 {
    background-color: #8ca3d9; }
  .section.section--4 {
    background-color: #6685cc; }
  .section.section--5 {
    background-color: #4066bf; }
  .section.section--6 {
    background-color: #335299; }
  .section.section--7 {
    background-color: #263d73; }
  .section.section--8 {
    background-color: #1a294d; }
  .section.section--9 {
    background-color: #0d1426; }
  .section.section--10 {
    background-color: black; }
  .section .section-px {
    text-align: right;
    margin: 0;
    padding-right: 20px; }
