doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title check top value
    meta(name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no")
    link(rel="stylesheet", href="./css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Fredoka+One", rel="stylesheet")
  body
      
    - for (var i = 0; i <= 10; i++) {
      - if (i === 5) {
        section(class="section section--#{i}" id="animation")
          - var px = 1000 * i;
          p.section-px #{px}
          .animation-wrap
            .fixed-item
            .animation-items
              .a-item--1
              
            .animation-contents
              .animation-main
                
      - } else {
        section(class="section section--#{i}")
          - var px = 1000 * i;
          p.section-px #{px}
      - }
    - }
      
    script(src="./js/main.js")
