doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title check top value
    meta(name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no")
    link(rel="stylesheet", href="./css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Fredoka+One", rel="stylesheet")
  body
    .information
      .information-container
        h3.title Scroll
        ul.info-lists
          li.info-list
            p.list-item document.documentElement.scrollTop : 
            span.js-render-js-scrollTop 0
          li.info-list
            p.list-item $(window).scrollTop() : 
            span.js-render-jQuery-scrollTop 0
      .information-container
        h3.title Window Height
        ul.info-lists
          li.info-list
            p.list-item document.documentElement.clientHeight : 
            span.js-render-js-documentClientHeight
          li.info-list
            p.list-item screen.height : 
            span.js-render-js-screenHeight
          li.info-list
            p.list-item window.innerHeight : 
            span.js-render-js-windowInnerHeight
          li.info-list
            p.list-item window.outerHeight : 
            span.js-render-js-windowOuterHeight
          li.info-list
            p.list-item $(window).height() : 
            span.js-render-jQuery-windowHeight
          li.info-list
            p.list-item $(document).height() : 
            span.js-render-jQuery-documentHeight
      .information-container
        h3.title View Area
        ul.info-lists
          li.info-list
            p.list-item document.documentElement.scrollTop + window.innerHeight : 
            span.js-render-js-viewArea
          li.info-list
            p.list-item $(window).scrollTop() + $(window).height() : 
            span.js-render-jQuery-viewArea
      
    - for (var i = 0; i <= 10; i++) {
        section(class="section section--#{i}")
          - var px = 1000 * i;
          p.section-px #{px}
    - }
      
    script(src="./js/main.js")
